{% extends "base.html" %}
{% block content %}

<div class="account_menu_container">
    <div class="menu_option">
        <i class="fas fa-book-open"></i>
        <a href="{{ url_for('diary') }}">
            <span class="menu_option_title">Revisit old entries</span>
        </a>
    </div>

    <div class="menu_option">
        <i class="fas fa-pencil-alt"></i>
        <a href="{{ url_for('new_entry') }}">
            <span class="menu_option_title">Write a new entry</span>
        </a>
    </div>
</div>

{% endblock %}