{% extends "base.html" %}
{% block content %}

<div class="account_menu_container">
    <a href="{{ url_for('diary') }}">
        <div class="menu_option">
            <i class="fas fa-book-open"></i>
            <span class="menu_option_title">Revisit old entries</span>
        </div>
    </a>

    <a href="{{ url_for('new_entry') }}">
        <div class="menu_option">
            <i class="fas fa-pencil-alt"></i>
            <span class="menu_option_title">Write a new entry</span>
        </div>
    </a>
</div>

{% endblock %}