{% extends "base.html" %}
{% block content %}
<h1 class="title">Diary Entries</h1>
<form method="post">
    <div>
        <textarea name="entry" title="entry" placeholder="What's on your mind?" required></textarea>
    </div>
    <button type="submit">Add Entry</button>
</form>

<h2>Your Entries</h2>
<div class="entries-container">
    {% for entry in entries %}
    <div class="entry">
        <p>{{ entry['timestamp'] }}: {{ entry['entry'] }}</p>
        <form method="post" action="{{ url_for('delete_entry', entry_id=entry['id']) }}">
            <button type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}