{% extends "base.html" %}
{% block content %}

{% if entries %}
<h2>Your Entries</h2>
<div class="entries-container">
    {% for entry in entries %}
    <a href="{{ url_for('view_entry', entry_id=entry['id']) }}">
        <div class="bottle">
            <div class="parchment">
                <p><strong>{{ entry['timestamp'] }}</strong>: {{ entry['entry'].split(' ')[:3] | join(' ') }}...</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p> </p>
{% endif %}

{% endblock %}