{% extends "base.html" %}
{% block content %}
<div class="register_form">
    <h1>Enter the beach</h1>
    <form method="post">
        <div class="form_field">
            <label class="field_label" for="username">Username</label>
            <input class="field_input" type="text" id="username" name="username" required>
        </div>
        <div class="form_field">
            <label class="field_label" for="password">Password</label>
            <input class="field_input" type="password" id="password" name="password" required>
        </div>
        <button class="form_button" type="submit">Register</button>
    </form>
</div>
{% endblock %}